body {
            font-family: Arial, sans-serif;
            background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-simple-gradient-on-gray-background-image_557021.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
       
      

        h1 {
            color: #333;
            font-size: 36px;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        h2 {
            color: #000;
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        p {
            color: #333;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        a {
            color: #007;
            text-decoration: none;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
